@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Sniglet', cursive;
}
h1 {
  font-weight: normal;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;
  color: #f90;
  text-align: center;
}

.text-center {
  display: flex;
  justify-content: center;
  margin: 15px;
}

/* Animation webkit */
@-webkit-keyframes myfirst {
  0% {
    margin-left: -235px;
  }
  90% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

/* Animation */
@keyframes myfirst {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

/* language switch */
a.switch_button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
  text-decoration: none;
  font-weight: 600;
}

a.switch_button_container span.degital_text {
  color: #fff;
  transition: 0.3s ease;
  text-shadow: 0px 0px 1px #db4f6a, 0px 0px 2px #db4f6a, 0px 0px 3px #db4f6a,
    0px 0px 4px #db4f6a, 0px 0px 5px #db4f6a, 0px 0px 6px #db4f6a;
}

a.switch_button_container .goods_text {
  transition: 0.3s ease;
  color: #5a5a5a;
}

.switch {
  display: inline-block;
  width: 50px;
  height: 28px;
  box-sizing: border-box;
  border: 3px solid;
  background: linear-gradient(90deg, #db4f6a, #3c0c2d);
  /* float: left; */
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  outline: none;
  overflow: hidden;
}

.switch:before {
  transition: 0.3s ease;
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  background: white;
  left: 2px;
  top: 1.4px;
  box-sizing: border-box;
  /* border: 3px solid; */
  color: black;
  border-radius: 100px;
  z-index: 100;
}

a.switch_button_container:hover span.degital_text {
  color: #5a5a5a;
  text-shadow: none;
}

a.switch_button_container:hover .goods_text {
  color: #fff;
  text-shadow: 0px 0px 1px #db4f6a, 0px 0px 2px #db4f6a, 0px 0px 3px #db4f6a,
    0px 0px 4px #db4f6a, 0px 0px 5px #db4f6a, 0px 0px 6px #db4f6a;
}

a.switch_button_container .switch::after {
  content: '';
  background: linear-gradient(-90deg, #db4f6a, #3c0c2d);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-out;
  width: 100%;
  opacity: 0;
}

a.switch_button_container:hover .switch::after {
  opacity: 1;
}

a.switch_button_container:hover .switch:before {
  left: 23px;
  box-shadow: 0px 0px 1px #fff, 0px 0px 2px #fff, 0px 0px 3px #fff,
    0px 0px 4px #fff, 0px 0px 5px #fff, 0px 0px 6px #fff;
}

.fish {
  background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  animation: myfirst 24s;
  -webkit-animation: myfirst 24s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

#fish {
  top: 120px;
}

#fish2 {
  top: 260px;
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
}

header {
  height: 160px;
  background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png')
    repeat-x bottom;
}

#form {
  height: 100%;
  background-color: #98d4f3;
  overflow: hidden;
  position: relative;
}
form {
  margin: 0 auto;
  width: 500px;
  padding-top: 40px;
  color: white;
  position: relative;
}
label,
input,
select textarea {
  display: block;
}
input,
textarea,
select {
  width: 500px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: 'Sniglet', cursive;
  font-size: 1em;
  color: #676767;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  border: solid 3px #98d4f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus,
textarea:focus,
select:focus {
  border: solid 3px #77bde0;
}

textarea {
  height: 100px;
  resize: none;
  overflow: auto;
}
input[type='submit'] {
  background-color: #f90;
  color: white;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.29em;
  font-family: 'Sniglet', cursive;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
input[type='submit']:hover {
  background-color: #e58f0e;
}
label {
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 20px;
}
.formgroup,
.formgroup-active,
.formgroup-error {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 10.5%;
  transition: background-image 0.7s;
  -webkit-transition: background-image 0.7s;
  -moz-transition: background-image 0.7s;
  -o-transition: background-image 0.7s;
  width: 566px;
  padding-top: 2px;
}

.formgroup {
  background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');
}
.formgroup-active {
  background-image: url('https://manboo.co.jp/inshop/asset/title/manboo.gif?3');
}
.formgroup-error {
  background-image: url('https://manboo.co.jp/inshop/asset/title/sweat_manboo.png?3');
  color: red;
}
